<%= form_tag("/retired", method: "post") do %>
  <div class="form-group">
    <label for="heightInput">入伍日期</label>
    <input name="start_date" class="form-control" id="heightInput" placeholder="入伍日期">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
<% end %>
